@font-face {
  font-family: "Poppins Medium";
  src: local("Poppins"), url("./resources/fonts/Poppins/Poppins-Medium.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./resources/fonts/Poppins/Poppins-Regular.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: local("Poppins"), url("./resources/fonts/Poppins/Poppins-Bold.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: local("Poppins"), url("./resources/fonts/Poppins/Poppins-Thin.ttf"), format("ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
